* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-nav {
  margin-left: 16%;
}

.navbar {
  padding: 12px 0;
}

.searchbar {
  margin-right: 18%;
}

li a {
  font-family: "Times New Roman", Times, serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.18rem;
  padding-left: 50px;
}

.post-content img {
  max-width: 100%;
  height: auto !important;
}

.row {
  margin-right: unset;
}
.post a {
  color: black;
  font-family: "Times New Roman", Times, serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  display: block;
}

.right .post {
  margin: 1.5rem 0;
}

.right .post img {
  width: 95px;
  height: 64px;
}
.right .post .content {
  margin: 0;
  padding-left: 10px;
}

.right .post .title {
  font-size: 0.92rem;
  font-weight: 400;
}
.right .post .date {
  font-size: 0.8rem;
}

.post a:hover,
a:active {
  color: #d32531;
}

.logo__name {
  font-family: Pattaya, sans-serif;
  color: #d32531;
  font-size: 90px;
  text-decoration: none;
}

.admin {
  margin-left: 20%;
  font-size: 25px;
  margin-top: -15px;
}

.admin__name {
  font-family: arial;
  color: #d32531;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.admin__name:hover {
  color: #d32531;
}
.logo__name:hover {
  color: #d32531;
  text-decoration: none;
}

.logo__img {
  width: 150px;
  margin-left: 50%;
  margin-top: -7%;
}

.admin__img {
  color: red;
  margin-right: 5px;
}

.menu-icon {
  display: none;
}

.icon-back {
  float: left;
  margin-top: -5%;
  width: 45px !important;
}

.navbar-expand-md {
  background-color: #d32531;

  position: sticky;
  top: 0px;
  z-index: 100;
}

.content {
  margin: 1em 1em 1em 0;
}

nav {
  transition: 0.05s linear;
}

.btn_nav {
  margin-top: 60px;
  margin-left: 0;
  border-radius: 5px;
}

.admin_nav {
  margin-top: 60px;
  margin-left: 0;
  border-radius: 5px;
}

.btn-login {
  margin-left: 5px;
  width: 100px;
  font-size: 15px;
  margin-top: 5px;
}

.card-img-top {
  height: 131px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
.mr-sm-2,
.mx-sm-2 {
  margin-right: 5px !important;
}
.btn-search {
  margin-right: 0px;
}

.container-index {
  position: relative;
  margin-top: 40px;
  margin-bottom: 0px;
  background-color: white;
}

.row-index {
  margin: 3rem 0;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(0, 0, 0, 10%);
  overflow: hidden;
  transition: 0.15s ease-in;
}

.row-index:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.row-index .index-img {
  height: 275px;
  width: 400px;
}

.block-title {
  border-bottom: 2px solid #bd2b35;
}

.block-title a {
  background-color: #bd2b35;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 5px 12px 4px 12px;
  border-radius: 3px 3px 0 0;
}

.right .block-title a {
  font-size: 0.8rem;
  line-height: 1.4rem;
  padding: 5px 12px 4px 12px;
  border-radius: 3px 3px 0 0;
}

.nav-link {
  padding-left: 50px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.container,
.container-lg,
.container-md,
.container-sm {
  max-width: 1200px;
  display: flex;
}
.post {
  display: flex;
}

/* .pager li .active_link {
  background-color: rgb(152, 247, 133) !important;
} */

.content {
  padding-left: 15px;
}
.left {
  width: 70%;
}
.right {
  margin-left: auto;
  width: 25%;
}

/* Kim Ton */
/* POST */
.sub-title p {
  color: #999;
  margin: 30px auto;
}
.date-info h5 {
  font-size: large;
  font-style: oblique;
}
.post-content .title {
  padding: 5px auto;
  font-size: 50px;
}
.post-content p {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}
.body-img {
  width: 100%;
}

/* comment */
.comment {
  min-height: 20px;
  padding: 19px;
  margin: 40px 0 30px 0;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.btn-danger {
  background-color: #d32531;
}
.btn-outline {
  width: auto;
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
}
.btn-danger.btn-outline {
  color: #d32531;
}
.btn-danger.btn-outline:hover {
  color: #fff;
}

.media {
  margin: 5px auto;
}

div .tag {
  margin: 30px auto;
}
/* Tag */

/* Social share button */
.social-share {
  text-align: center;
}
.fa-social {
  padding: 10px;
  font-size: 20px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.img-circle {
  border-radius: 50%;
}
/* Social share button */

/* END POST */

/* Duyen */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  color: #333;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
 */
/* đăng kí */
.main {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.form {
  width: 500px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  display: inline-block;
}

.form-header {
  margin: 0px;
  margin-bottom: 30px;
  display: flex;
}

.form .form-logo {
  width: 100px;
}
.form .heading {
  font-size: 30px;
  color: #d32531;
  margin-top: 40px;
  margin-left: 20px;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
  float: left;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.2rem;
}

.form-control:hover {
  border-color: #fec24a;
}

.form-group.invalid .form-control {
  border-color: #d32531;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

.form-submit {
  background-color: #d32531;
  outline: none;
  margin: 12px 0px;
  padding: 10px 16px;
  font-weight: 600;
  border: none;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}

.form-check {
  float: left;
}

.form-check-label {
  font-size: 16px;
  margin-left: 5px;
}

/* .form-submit:hover {
  background-color: #1ac7b6;
} */

/* .spacer {
  margin-top: 36px;
} */

.line {
  text-align: center;
  padding: 0;
  margin: 5px 0px;
}

.ORline {
  width: 40%;
  color: #c4c7cb;
}

.ORtext {
  position: relative;
  bottom: 6px;
  padding: 0 15px;
  font-weight: 600;
  color: #434343;
  font-size: 20px;
}

.googlelogo {
  width: 40px;
  background: none;
  padding-right: 15px;
  padding-bottom: 4px;
}

.textgoogleaccount {
  text-align: center;
  display: inline-block;
  color: #7a8797;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.googlesignupbutton {
  outline: none;
  margin: 12px 0px;
  padding: 10px 16px;
  font-weight: 600;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #c4c7cb;
  background: none;
}

/* Y.Nhi */
.my-1-footer {
  border-top: 2px solid #d32531;
  width: 100%;
}

.footer_icon {
  margin-right: 10px;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #d32531;
  height: 86px;
}

.card-title:hover {
  color: #d32531;
  text-decoration: none;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post_card {
  margin-top: 30px;
}

/* Footer */
.container-footer {
  position: relative;
  margin-top: 40px;
  margin-bottom: 0px;
}
.row-footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
.footer {
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
  background-color: #0f0e17;
  padding: 30px 25px 0;
  margin-top: 20px;
}
.footer-col p {
  font-size: 16px;
  color: #a7a9be;
  font-weight: 300;
  position: relative;
  transition: all 0.3s ease;
}
.footer-col h4 {
  font-size: 18px;
  color: #fffffe;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d32531;
  height: 2px;
  box-sizing: border-box;
  width: 100px;
}
.footer-col li {
  font-size: 16px;
  text-transform: capitalize;
  color: #a7a9be;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  padding: 0px;
}
.footer-col a {
  font-size: 16px;
  text-transform: capitalize;
  color: #a7a9be;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  padding: 0px;
}
.footer-col ul {
  font-size: 16px;
  text-transform: capitalize;
  color: #a7a9be;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  padding: 0px;
}
.footer-col ul:hover {
  color: #d32531;
  padding-left: 8px;
}
.footer-col li:hover {
  color: #d32531;
  padding-left: 8px;
}
.footer-col a:hover {
  color: #d32531;
  padding-left: 8px;
}
.footer-col img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.footer__bottom {
  padding: 8px 0;
  color: #d32531;
}
.my-2-footer {
  border-top: 1px solid #d32531;
  width: 100%;
}
.footer__text {
  text-align: center;
  font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

/*responsive */
@media (max-width: 1650px) {
  .navbar-nav {
    margin-left: 13%;
  }

  .searchbar {
    margin-right: 14%;
  }
}

@media (max-width: 1500px) {
  .navbar-nav {
    margin-left: 8%;
  }

  .searchbar {
    margin-right: 9%;
  }

  .btn_nav {
    margin-left: 50px;
  }

  .admin_nav {
    margin-left: 50px;
  }
}

@media (max-width: 1350px) {
  .searchbar {
    margin-right: 4%;
  }

  .li-nav {
    margin: 0;
  }

  .btn_nav {
    margin-left: 75px;
  }

  .admin_nav {
    margin-left: 75px;
  }

  .navbar-nav {
    margin-left: 3%;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .menu-wrap {
    display: inline-block;
  }

  .container-footer {
    margin-left: 50px;
  }
}

@media (max-width: 1200px) {
  .logo__img {
    margin-left: 5%;
    margin-top: -11%;
    width: 180px;
  }
}

@media (max-width: 1024px) {
  .row.header {
    flex-wrap: unset;
  }
  .menu-wrap {
    display: none;
  }

  .btn_nav {
    margin: 40px auto;
  }

  .admin_nav {
    margin: 20px auto;
    margin-left: 33%;
  }

  .btn-login {
    width: 72px;
    margin-left: 8px;
    margin-top: 5px;
  }

  .logo__img {
    margin-left: 10%;
    width: 180px;
    margin-top: 1%;
  }

  .logo__name {
    display: none;
  }

  nav.open {
    position: relative;
    margin-bottom: 250px;
  }

  nav.open ul.navbar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: -25px;
    width: 110%;
    padding: 10px;
    background-color: #c11a26;
    overflow: hidden;
  }

  .li-nav {
    margin: 10px 0;
    padding: 0 0;
  }

  .row-index {
    height: 200px;
  }

  .row-index .index-img {
    width: 260px;
    height: 200px;
  }

  input.form-control.mr-sm-2 {
    height: 18px;
    box-sizing: content-box;
    font-size: 0.8rem;
    width: 135px;
  }

  button[type="submit"] {
    height: 20px;
    box-sizing: content-box;
    font-size: 0.8rem;
  }

  .navbarsExampleDefault {
    width: 50%;
  }

  #search-box {
    margin-left: 40px;
  }

  .navbar {
    margin-top: -2%;
  }

  .btn_nav {
    margin-top: 22%;
  }
}

@media (max-width: 1015px) {
  .navbar {
    margin-top: -3%;
  }
}

@media (max-width: 920px) {
  #keyword {
    width: 63%;
  }
}

@media (max-width: 850px) {
  .navbar-nav {
    display: none;
  }

  .menu-icon {
    width: 40px;
    display: block;
    margin-left: 20px;
  }

  .menu-wrap {
    display: inline-block;
  }

  .navbar-collapse {
    display: flex;
  }

  .dropdown-menu {
    background-color: #c11a26;
    border: none;
    margin-bottom: -20px;
  }

  .dropdown-item {
    color: #fff;
    margin: 5px 0;
  }

  .searchbar {
    margin-left: 60%;
  }
}

@media (max-width: 769px) {
  .searchbar {
    margin-left: 55%;
  }

  .navbar {
    margin-top: -4%;
  }

  .admin_nav {
    margin: 12px auto;
    margin-left: 32%;
  }

  .container-footer {
    margin-left: 0;
  }

  .container {
    display: block;
  }

  .left {
    width: 100%;
  }

  .content a {
    font-size: 1.2rem;
  }

  .row-index {
    height: 225px;
    overflow: hidden;
  }

  .row-index .index-img {
    width: 300px;
  }

  .right {
    margin: unset;
    width: 100%;
  }

  .footer {
    padding-top: 30px;
  }
}

@media (max-width: 617px) {

  .navbar {
    margin-top: unset;
  }

  .btn_nav {
    margin-top: 22%;
  }

  .logo__img {
    width: 55%;
  }

  .searchbar {
    margin-left: 50%;
  }

  .btn-login {
    float: left;
    margin-right: 1px;
  }

  .btn_nav {
    margin: 25px auto;
  }
}

@media (max-width: 586px) {
  .searchbar {
    margin-left: 45%;
  }

  .btn_nav {
    margin: 15px auto;
  }

  .admin_nav {
    margin: 10px auto;
    margin-left: 27%;
  }

  .btn_nav {
    margin: 15px auto;
  }

  .row.padding {
    display: unset;
  }

  .row-index {
    height: 100px;
  }

  .row-index .index-img {
    width: 140px;
    height: 100px;
  }

  .post a {
    font-size: 0.8rem;
  }
  .content {
    margin: unset;
  }
  .content p {
    font-size: 0.5rem;
    margin: unset;
  }
  .content span {
    font-size: 0.6rem;
    display: inline-block;
  }

  .btn-login {
    margin: 5px 5px;
  }

  .admin {
    margin-top: 10%;
    margin-left: 25%;
  }
}

@media (max-width: 575px) {
  .logo__img {
    width: 43%;
    margin-left: 30%;
  }

  .admin {
    margin-top: unset;
    margin-left: 15%;
  }

  .btn_nav {
    margin-left: 10%;
  }

  .col-sm-5 {
    margin-left: 23%;
  }

  .card-img-top {
    height: 280px;
  }

  .h1, h1 {
    font-size: 1.5rem;
  }

  .img-circle {
    display: none;
  }
}

@media (max-width: 485px) {
  .btn_nav {
    margin-left: 7%;
  }

  .searchbar {
    margin-left: 35%;
  }
}

@media (max-width: 420px) {
  .logo__img {
    margin-left: 30%;
  }

  .btn_nav {
    margin-left: 35%;
  }

  .searchbar {
    margin-left: 30%;
  }

  .col-sm-5 {
    margin-left: -11%;
  }

  .admin {
    margin-left: 25%;
  }

  .admin_nav {
    margin-left: 25%;
  }

  .btn-login {
    width: 80px;
    margin-left: 5px;
  }

  .right .post img {
    width: 95px;
    height: 64px;
  }

  .mb-3 {
    margin-top: -25px !important;
    margin-left: -16px;
    font-size: 1.2rem;
  }

  .post_card {
    margin-bottom: 30px;
    padding: unset;
  }

  .footer-col {
    margin-bottom: 30px;
  }

  .card-img-top {
    height: 180px;
  }
}

@media (max-width: 380px) {
  .searchbar {
    margin-left: 25%;
  }

  .logo__img {
    margin-left: 28%;
  }

  .btn_nav {
    margin-left: 32%;
    width: 75%;
  }
  .admin {
    margin-left: 22%;
  }

  .admin_nav {
    margin-left: 20%;
  }
}
